<div class="row header">
  <div class="col-sm">
    <h4 style="text-align: center;color: blue;">Issue Board</h4>
  </div>
</div>

<div class="row">
  <div class="col-sm list-action-button">
    <a href="#" routerLink="add" class="btn btn-primary float-right ">Add New</a>
  </div>
</div>

<div class="row content">
  <div class="col-sm-12">
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Id</th>
          <th scope="col">Title</th>
          <th scope="col">Description</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let product of products | async; index as i">
          <th scope="row">{{ i + 1 }}</th>
          <td>{{ product.Title }}</td>
          <td>{{ product.Description }}</td>
          <td><button class='fa fa-eye' (click)='viewProduct(product)' ></button></td>
          <td><button class='delete-label fa fa-trash-o' (click)='deleteProduct(product)' ></button></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
